# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Database & local settings
*.sqlite3
db.sqlite3
*.log

# IDEs
.vscode/
.idea/
.DS_Store
